a(href="/users/Sign-In" class="text-sm px-4 py-2 rounded bg-indigo-600 text-white hover:bg-indigo-700 font-medium") Sign In
a(href="/users/Sign-Up" class="text-sm px-4 py-2 rounded bg-indigo-600 text-white hover:bg-indigo-700 font-medium") Sign Up