.flex.flex-col.h-full
  .p-6.text-xl.font-bold.border-b.border-indigo-800
    | #{profile.full_name}
  
  nav.flex-1.mt-4
    a.flex.items-center.px-6.py-3.text-indigo-100.hover_bg-indigo-800(href="/dashboard")
      span.mr-3 🔍
      | New Scan
    a.flex.items-center.px-6.py-3.text-indigo-100.hover_bg-indigo-800(href="/dashboard/scans")
      span.mr-3 📂
      | List of Scans
    a.flex.items-center.px-6.py-3.text-indigo-100.hover_bg-indigo-800(href="/dashboard/plans")
      span.mr-3 📋
      | Comprar Premium
