extends ../dashboard-layout

block content
  // Header de la sección (el morado de tu imagen)
  .bg-indigo-600.rounded-xl.p-8.text-white.shadow-lg.mb-8
    h1.text-3xl.font-bold Nuevo Escaneo de Seguridad
    p.text-indigo-100.mt-2 Analiza la seguridad de tu aplicación web

  .grid.grid-cols-1.lg.grid-cols-3.gap-8
    // Formulario (Ocupa 2 columnas en pantallas grandes)
    .lg.col-span-2
      .bg-white.rounded-xl.shadow-sm.border.border-gray-200.p-6
        h2.text-xl.font-semibold.mb-6 Comenzar Escaneo #{profile.plan_type}
        form(action=`/scanner/${profile.urlAction}`, method="POST")#scanForm.space-y-4
          .flex.flex-col.gap-2
            label.font-medium URL a Escanear
            input#url.w-full.border.rounded-lg.p-2.focus_ring-2.focus_ring-indigo-500(type="url" name="url" value=url placeholder="https://ejemplo.com" required)
          
          button.w-full.bg-indigo-600.text-white.py-3.rounded-lg.font-bold.hover_bg-indigo-700 Iniciar Escaneo