doctype html
html
  head
    title= title
    script(src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.bg-gray-50.text-gray-800
    block content
